.searchingArea {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
  background-color: #023031;
  align-items: center;
}

.linkImage {
  text-decoration: none;
}

.cartItem {
  border:5px solid #023031;
  margin: 15px;
  padding: 5px;
  width: 230px;
  height: 520px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.imagesCard {
  width: 180px;
  margin-left: 25px;
}

.cartArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#text-category {
  text-align: center;
}

.allCategory {
  margin-top: 120px;
}

.eachCategory {
  text-align: center;
}

.inputSearch {
  height: 44px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button {
  height: 50px;
  width: 150px;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
}

.initialMessage {
  text-align: center;
}

.categorySection {
  border: solid 5px #023031;
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 40px;
}

.categoryArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  margin-left: 50px;
}

.on,
.off {
  cursor: pointer;
}

.on {
  color: black;
}

.off {
  color: rgba(204, 204, 204, 0.959);
}
